.app-header{
    width: 100%;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
    height: 64px;
    line-height: 64px;
    background-color: #1976D2;
    position: fixed;

    .header-container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        .app-title{
            width: 180px;
            height: 60px;
            display: inline-block;
            background: url('/assets/img/app-logo.png');
            a{
                text-decoration: none;
                color: #f0f1f2;
            }  
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            float: right;
            .header-icon{
                padding: 10px !important;
            }
            li {
                float: left;
                height: 64px;
                a {
                    color: #fff;
                    padding: 20px;
                    text-decoration: none;
                    font-weight: 600;
                    
                }
    
                .activated {
                    background-color: #00a8ff;
                }
            }
        }
    }
}