<div class="card-box">
    <h3 class="card-title">Experience</h3>
    <div class="experience-box">
        <ul class="experience-list">
            <li>
                <div class="experience-user">
                    <div class="before-circle"></div>
                </div>
                <div class="experience-content">
                    <div class="timeline-content">
                        <a href="#/" class="name">Web Designer at Zen Corporation</a>
                        <span class="time">Jan 2013 - Present (5 years 2 months)</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="experience-user">
                    <div class="before-circle"></div>
                </div>
                <div class="experience-content">
                    <div class="timeline-content">
                        <a href="#/" class="name">Web Designer at Zen Corporation</a>
                        <span class="time">Jan 2013 - Present (5 years 2 months)</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>