.app-header{
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    z-index: 10;
    padding: 0;
    background: #fff;
    height: 64px;
    line-height: 64px;
    background-color: #1890ff;
    .header-container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        

        .app-title{
            float: left;
            color: #f0f1f2;
            font-weight: 700;

            a{
                text-decoration: none;
                color: #f0f1f2;
            }
            
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            float: right;
    
            li {
                float: left;
                height: 64px;
                :hover{
                    border-bottom: 2px solid #fff;
                }
                a {
                    color: #fff;
                    padding: 20px;
                    text-decoration: none;
                    font-weight: 600;
                    
                }
    
                .activated {
                    background-color: #00a8ff;
                }
            }
        }
    }
}