<div class="sub-departments">
    <div class="form-wrapper">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="page-title">Sub Departments</h4>
        </div>
  
        <div class="col-sm-4 text-right m-b-30">
          <button nz-button nzType="primary"  (click)="showModal()">
            <i nz-icon type="plus"></i>Add Sub Department</button>
        </div>
      </div>
      <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
        <ng-template #modalTitle>
          Add Sub Department
        </ng-template>
  
        <ng-template #modalContent>
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group>
                  <input type="text" nz-input formControlName="name" placeholder="Sub Department Name">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input designation name!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-select style="width: 100%;" formControlName="department" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Select Department">
                  <nz-option *ngFor="let department of departments" [nzValue]="department" nzLabel="{{department.name}}"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="validateForm.get('department').dirty && validateForm.get('department').errors">Please select department name!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-template>
  
        <ng-template #modalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
          <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isConfirmLoading">Submit</button>
        </ng-template>
      </nz-modal>
      <nz-table #basicTable [nzData]="subDepartments">
        <thead>
          <tr>
            <th>Sub Department</th>
            <th>Department</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td>{{data.department.name}}</td>
            <td>
              <a class="edit-icon"><i nz-icon type="edit"></i></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="delete-icon"><i nz-icon type="delete"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
  
  
    </div>
  </div>