.profile{
    width: 80%;
    margin:auto;
    .card-box {
        background-color: #fff;
        border: 1px solid #ededed;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        padding: 20px;
        .card-title {
            color: #333;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 20px;
        }
    }
}
