/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    h5{
        margin-bottom: 0px !important;
        margin-top: 0.5em !important;
    }
    .row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .ant-menu-item{
        padding: 0px 20px !important;
    }
    .ant-menu-horizontal .ant-menu-item{
        margin-top: 0px !important;
    }
    #container {
   
        .data-container{
            max-width: 1200px !important;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    
       #content {
           padding: 40px 50px;
       }
    }
}
