/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: #eff3f6;
    overflow-x: hidden;
    .p-l-40{
        padding-left: 40px;
    }
    .m-b-0{
        margin-bottom: 0 !important;
    }
    h5{
        margin-bottom: 0px !important;
        margin-top: 0.5em !important;
    }
    .ant-menu-item{
        padding: 0px 20px !important;
    }
    .ant-menu-horizontal .ant-menu-item{
        margin-top: 0px !important;
    }
    #container {
   
        .data-container{
            max-width: 1200px !important;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    
       #content {
           padding: 100px 50px;
       }
    }
}
